#intercom-container .intercom-launcher {
  z-index: 1034 !important;
}

@media (min-width: 768px) {
  #intercom-container .intercom-sheet {
    z-index: 1034 !important;
  }

  body:not(.mobile).bin-menu {
    #intercom-container .intercom-sheet {
      top: 40px !important;
      height: auto !important;
    }
  }
}